# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
*.env
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Data files (keep raw data out of Git)
data/raw/creditcard.csv
data/processed/
results/
src_windows_version/results

# Logs and TensorBoard
*.log
runs/
tensorboard/

# PyCharm
.idea/

# System files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage

#updated git for results
my-app/src_windows_version/results/*

my-app/src_windows_version/data_explore/1.0.2
